*::-webkit-input-placeholder {
  color: #a7a7a7;
}

*:-moz-placeholder {
  color: #a7a7a7;
}

*::-moz-placeholder {
  color: #a7a7a7;
}

*:-ms-input-placeholder {
  color: #a7a7a7;
}

.wrapper {
  width: 100%;
  line-height: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.wrapper .title {
  display: block;
  color: #4d4d4d;
  font-weight: 100;
  font-size: 34px;
  text-align: center;
  height: 40px;
  line-height: 34px;
  margin-bottom: 10px;
}
.wrapper .name {
  margin: 10px 0 0;
  position: relative;
  width: 100%;
}
.wrapper form {
  background: #f2f2f2;
  width: 100%;
  padding: 20px 25px;
  border-radius: 4px;
}
.wrapper form input,
.wrapper form textarea {
  display: block;
  width: 96.5%;
  margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  background: #fff;
  font-size: 17px;
  font-weight: lighter;
  outline: 0;
  transition: border-color 0.3s ease-in-out;
  color: #333;
}
.wrapper form input:focus,
.wrapper form textarea:focus {
  transition: border-color 0.3s ease-in-out;
  border-color: #4d4d4d;
  background: rgba(255, 255, 255, 0.8);
}
.wrapper form textarea {
  resize: none;
  height: 120px;
}
textarea::placeholder {
  color: #a7a7a7;
  font-family: Arial;
  font-size: 17px;
}
.wrapper form button {
  display: block;
  height: 40px;
  background: #fff;
  border: 1px solid #4d4d4d;
  border-radius: 40px;
  cursor: pointer;
  color: #4d4d4d;
  padding: 10px 0;
  outline: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  transition: all 0.25s;
  width: 300px;
}
.wrapper form button:hover {
  color: white;
  background: #6a5abf;
  transition: all 0.25s;
}
.wrapper form button:active {
  color: #6a5abf;
  transition: all 0.25s;
}
.wrapper form button:after {
  content: "ENVOYER";
  letter-spacing: 2px;
}

@media screen and (min-width: 651px) {
  .wrapper {
    width: 650px;
    max-width: none;
  }
  .wrapper .title {
    text-align: left;
  }
  .wrapper input:first-child {
    float: left;
    width: 290px;
  }
  .wrapper input:nth-child(2) {
    float: right;
    width: 290px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: auto;
  }
  .wrapper form {
    width: auto;
  }
}
